/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:    none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FONTS*/
body {
	font-family: Telex, sans-serif;
}

ol,table {
	font-size: 0.8em;
	line-height: 1.4em;
}

td code {
	font-size: 1em;
}

dt,ol li {
	font-weight: bold;
}

ol li li {
	font-weight: normal;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4 {
	font-family: Magra, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

.aside > h3 {
	font-size: 1.4em;
}

p,ol {
	font-size: 0.9em;
	line-height: 1.4em;
}

.link-button {
	font-size: 1.2em;
	font-weight: 700;
}

small {
	font-size: 0.8em;
}

code {
	color: #4885D5;
	font-size: 0.8em;
}

pre {
	line-height: 1.2em;
}

/*!FONTS*/
html {
	background: url("../images/bg-body.jpg") repeat;
}

.clear {
	clear: both;
}

strong {
	font-weight: bold;
}

table {
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

h1,p,pre,ul,dd,table {
	margin: 0 0 20px 0;
}

h2 {
	margin: 60px 0 10px 0;
}

.intro h2 {
	margin: 10px 0;
}

#footer small {
	float: left;
	line-height: 1.6em;
	margin-top: 8px;
}

p code {
	background: white;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

dl {
	margin: 0 0 20px 20px;
}

dt {
	margin: 0 0 10px 0;
}

figure {
	margin: 60px auto;
}

figcaption {
	text-align: center;
}

hr {
	border: none;
	padding: 20px 0;
}

p {
	max-width: 720px;
}

.group {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: dotted black 1px;
}

h3, h4 {
	margin: 10px 0;
}

h1 + h2 {
	margin: 0 !important;
}

h2 + h3 {
	margin: 10px 0;
}

.aside > h3 {
	margin: 0 0 20px 0;
}

.logo {
	float: left;
}

#social {
	float: right;
	font-size: 0.8em;
}

#nav {
	clear: right;
	float: right;
	margin: 0;
}

#nav li,#social li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}

#nav li:not(:last-child) {
	padding: 0 30px 0 0;
}

#header {
	margin: 0 0 40px 0;
	overflow: hidden;
}

body {
	padding: 0 2% 5px 2%;
	margin: 1em auto;
	max-width: 1200px;
	min-width: 960px;
	width: 96%;
}

thead {
	font-weight: 900;
}

td {
	border: 1px solid #333;
	padding: 0.3em;
}

tr:nth-child(even),thead {
	background: #ddd;
}

.main {
	margin: 40px 0;
	overflow: hidden;
}

pre {
	background: white;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 15px 10px;
}

.intro {
	float: left;
	width: 60%;
}

.aside {
	width: 30%;
}

h2 {
	clear: both;
}

.themes {
	clear: both;
}

.themes li {
	background: white;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 1% 1% 0 1%;
	position: relative;
	width: 28%;

	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
}

.themes li span {
	background: black;
	color: white;
	padding: 5px;
	position: absolute;
	right: 20px;
	top: 30px;

	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

.themes li:nth-child(2),.themes li:nth-child(5),.themes li:nth-child(8),.themes li:nth-child(11) {
	margin: 0 5%;
}

.themes li img {
	max-width: 100%;
}

.themes li h3 {
	line-height: 2em;
}

.theme-tags li,.theme-type li {
	background: white;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #3f7ad6;
	padding: 8px;
	margin: 0 1px;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.theme-tags li.on,.theme-type li.on {
	background: #3f7ad6;
	color: white;
}

.theme-tags {
	float: left;
}

.theme-type {
	border-left: solid black 2px;
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}

.link-button {
	background: #3f7ad6;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: white;
	display: block;
	padding: 8px;
	text-decoration: none;
	vertical-align: middle;
}

.link-button:hover {
	background: #4885d5;
}

#footer {
	margin: 80px 0 0 0;
	position: relative;
}

#footer small {
	position: absolute;
	left: 0;
	bottom: 0;
}

#footer ul {
	position: absolute;
	margin: 0;
	line-height: 1em;
	right: 0;
	bottom: 0;
}

#footer li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.twitter-follow-button {
	clear: both;
	float: right;
	font-family: Tahoma;
	font-size: 0.8em;
	line-height: 2em;
	width: 140px !important;
}

ol ol {
	margin: 0 0 10px 10px;
}

.features {
	font-size: 0.9em;
	line-height: 1.2em;
	list-style: disc;
}

#documentation .aside {
	float: left;
	width: 20%;
}

#documentation .main {
	float: right;
	width: 75%;
}