/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Documentation Demo
Version: 1.1
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/documentation-demo/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2013 unless otherwise stated.
*/
/* CSS RESET - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
/* line 14, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 24, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 27, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
body {
  line-height: 1; }

/* line 30, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
ol, ul {
  list-style: none; }

/* line 33, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
blockquote, q {
  quotes: none; }

/* line 37, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 41, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/partials/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* !CSS RESET */
/* prefix declarations */
/* THEME STYLES */
/* line 25, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
.sequence {
  border: black solid 3px;
  font-family: Tahoma;
  height: 370px;
  margin: 10px auto;
  position: relative;
  /* required */
  width: 450px;
  -webkit-backface-visibility: hidden;
  /* prevent graphical glitches in WebKit browsers when using transitions */
  /* Frame Animations */
  /* !Frame Animations */ }
  /* line 34, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence > ul li > * {
    position: absolute;
    /* required */ }
  /* line 38, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence > ul > li {
    position: absolute;
    /* required */
    width: 100%;
    /* required */
    height: 100%;
    z-index: 1;
    /* required */ }
  /* line 45, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence #sequence-preloader {
    background: white; }
  /* line 50, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .class-name,
  .sequence .sequence-class {
    font-size: 0.8em; }
  /* line 57, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .info1,
  .sequence .info2,
  .sequence .info3 {
    background: #3f7ad6;
    color: white;
    height: 95px;
    padding: 5px;
    width: 95px; }
  /* line 65, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .info1 {
    left: -150px;
    top: 10px; }
  /* line 70, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .info2 {
    left: -150px;
    top: 130px; }
  /* line 75, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .info3 {
    left: -150px;
    top: 250px; }
  /* line 83, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .animate-in .info1,
  .sequence .animate-in .info2,
  .sequence .animate-in .info3 {
    left: 165px;
    display: block;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
  /* line 94, /Users/Ian/Sites/SequenceJS/Sequence/themes/documentation-demo/scss/sequencejs-theme.documentation-demo.scss */
  .sequence .animate-out .info1,
  .sequence .animate-out .info2,
  .sequence .animate-out .info3 {
    left: 500px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
