/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Documentation Demo
Version: 1.3
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/documentation-demo/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2012 - 2013 unless otherwise stated.
*/

//Selector Variables
$sequenceContainer: ".sequence";
$sequenceCanvas: ".sequence-canvas";
$animateIn: ".animate-in";
$animateOut: ".animate-out";
$nextButton: ".sequence-next";
$prevButton: ".sequence-prev";
$pauseButton: ".sequence-pause";
$pagination: ".sequence-pagination";
$whenPaused: ".sequence-paused";
$sequencePreloader: ".sequence-preloader";

@import "partials/reset"; //import Eric Meyer's CSS Reset. Remove this if you have a reset in your main stylesheet
@import "partials/mixins"; //vendor prefixing mixins

/* when in fallback mode (for browsers that don't support transitions) hide anything outside of the Sequence container */
#{$sequenceContainer}.sequence-fallback {
    overflow: hidden;
}

/* THEME STYLES */
#{$sequenceContainer} {
	border: black solid 3px;
	font-family: Tahoma;
	height: 370px;
	margin: 10px auto;
	position: relative; /* required */
	width: 450px;

  > #{$sequenceCanvas} {
		height: 100%;
		width: 100%;

		> li {
			position: absolute; /* required */
			width: 100%; /* required */
			height: 100%;
			z-index: 1; /* required */
		}

		li > * {
			position: absolute; /* required */
		}
	}

	#sequence-preloader {
		background: white;
	}

	.class-name,
	.sequence-class {
		font-size: 0.8em;
	}

	/* Frame Animations */
	.info1,
	.info2,
	.info3 {
		background: #3f7ad6;
		display: block;
		color: white;
		height: 95px;
		padding: 5px;
		width: 95px;
		@include prefixed(transition-property, left);
	}

	.info1 {
		left: -150px;
		top: 10px;
	}

	.info2 {
		left: -150px;
		top: 130px;
	}

	.info3 {
		left: -150px;
		top: 250px;
	}

	#{$animateIn} {
			.info1,
			.info2,
			.info3 {
				left: 165px;
				opacity: 1;
				@include prefixed(transition-duration, 1s);
			}
	}

	#{$animateOut} {
		.info1,
		.info2,
		.info3 {
			left: 500px;
			@include prefixed(transition-duration, 1s);
		}
	}
	/* !Frame Animations */
}