/*DEMO STYLES*/
@charset "utf-8";

 /*http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License:   none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	padding: 0 0 100px 0 !important;
}

#header{
	position: relative;
}

.clear{
	clear: both;
}

#demo-details a{
	color: white;
}
#demo-details a:hover{
	text-decoration: none;
}

#demo-details .no-underline{
	text-decoration: none;
}

#demo-details{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);
	font-family: 'Play', sans-serif !important;
	left: 0;
/*	min-width: 960px;*/
	position: fixed;
	width: 100%;	
	z-index: 99999999;
	color: white;
	font-size: 1.2em;
	padding: 10px 0 5px 0;
}

#demo-details li{
	vertical-align: middle;
}

.tag {
	background: black;
	color: white;
	font-size: 1.6em;
	font-weight: bold;
	padding: 5px;
	position: absolute;
	right: 20px;
	top: 30px;

	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
	z-index: 10000;
}

#demo-details h1{
	font-size: 18px;
	text-align: center;
	width: 100%;
}

#share{
	float: right;
/*	line-height: 200%;*/
	list-style: none;
	text-align: center;
	width: 510px;	
}

.logo-small{
	padding: 0 5px;
	margin: 0 !important;
	vertical-align: middle;
}

.facebook{
	padding: 6px 0 0 0;	
}

.twitter{
	padding: 6px 0 0 0;	
}

.hire{
	font-size: 12px;
}

.hire p{
	width: 110px;
}

.hire span{
	float: left;
	margin-top: -2px;
}

.hire img{
	float: right;
}

.hire a{
	padding: 0 0 0 5px;
}

#share li{
	vertical-align: top;
}

#demo-details li{
	display: inline-block;
}

#demo-details li iframe, #demo-details li p{
	margin: 0 10px 0 0;
}

#demo-details li img{
	margin: 0 20px;
}

.medium{
	line-height: 1.4em;
	margin: 20px;
	width: 600px;	
}

.bottom{
	bottom: 0;	
}

.top{
	top: 0;	
}

#demo-links{
	float: left;
	font-size: 18px !important;
	font-weight: 200;
	margin: 5px 0 0 20px;
}

#demo-links ul{
	font-family: 'Play', sans-serif !important;
	font-size: 18px;
	line-height: 150%;
	margin: 0;
	padding: 0;	
}

a{
	padding: 5px 0;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

#main{
	border-top: #333 solid 3px;
	margin: 0 auto;
	padding: 40px;
	max-width: 960px;
}

#content p{
	margin: 0 0 20px 0;
}

#content #product-links{
	margin: 0 0 40px 0;
	padding: 0;
}

#content #product-links li{
	display: inline-block;
	margin: 0 20px 0 0;
}

#content{
	float: left;
	line-height: 1.6em;
	margin: 0 60px 0 0;
	width: 65%;
}

#aside{
	float: right;
	width: 25%;
}

#aside small{
	font-size: 12px;
}

#aside .features{
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}

#content h3{
	font-size: 30px;
	font-weight: bold;
	margin: 15px 0 20px 0;
}

#main ul{
	line-height: 1.4em;
	list-style: disc;
	margin: 20px 0;
	padding: 0 0 0 20px;
}

#aside small{
	padding: 40px 0;
}

code{
	color: #4885D5;
	font-size: 0.8em !important;
	word-wrap: break-word;
}

pre{
	line-height: 1.4em !important;
}

p code{
	background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

pre{
	background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 20px 0 !important;
	padding: 10px 10px 15px 10px !important;
}

.additional{
	height: 250px;
	overflow-x: scroll;
}

ol{
	font-size: 0.9em !important;
	list-style-type: lower-roman !important;
	margin: 0 0 0 20px !important;
}

#footer {
	margin: 20px 0 0 0;
	position: relative;
}

#footer ul {
	padding: 0;
	line-height: 1em;
}

#footer li {
	display: inline-block;
	width: 100%;
}

.twitter-follow-button {
	clear: both;
	float: right;
	font-family: Tahoma, sans-serif;
	font-size: 0.8em;
	line-height: 2em;
	width: 120px !important;
}

#footer small{
	font-size: 0.8em;
	line-height: 1.6em;
}

@media only screen and (max-width : 768px) {
	body{
		padding: 0 !important;
	}
	
	.tag {
		font-size: 1.2em;
	}
	
	#demo-links{
		width: 100%;
	}
	
	.theme-title li{
		width: 100%;
	}
	
	#aside{
		float: none;
	}
	
	#demo-details{
		bottom: 0;
		position: relative;
		width: 100%;
	}
	
	#demo-links, #share{
		float: none;
		margin: 0 auto;
	}
	
	#content, #aside{
		width: 100%;
	}
	
	#footer ul, #footer small{
		position: relative;
		padding: 0;
	}
	
	#footer ul{
		margin: 20px 0 0 0;
	}
	
	#demo-links{
		margin: 0 0 20px 0;
	}
	
	#share{
		width: 100%;
	}
	
	
}

/*!DEMO STYLES*/